# Archivos de sistema
.DS_Store
Thumbs.db

# Entorno virtual
venv/
env/

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Base de datos local
db.sqlite3

# Archivos de logs
*.log

# Archivos de migraciones cacheados
*/migrations/__pycache__/

# Archivos de entorno (si tienes uno)
.env

# Configuraciones de editores
.vscode/
.idea/

# Carpeta media (opcional, si no quieres guardar imágenes de usuarios en Git)
media/
