<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Corredor</title>
</head>
<body>
    
    <header>
        <h1 class="title">Bienvenido Runner</h1>
        <h3>Hoy como te sentiste</h3>
        <img src="" alt=""> <!-- Aqui va ir el logo, el cual tendra un link directo hacia el home -->
        <a href=""></a> <!--Aqui van a ser los hipervinculos para poder navergarse entre pantallas-->
    </header>

    <div class="content">
        <form action="" class="formulario">
            <input type="text" name="Kilometros" id="" placeholder="¿Hoy cuantos kilometros recorriste">
            <input type="text" name="" id="" placeholder="¿Como fue hoy tu estado de animo?">
            <input type="text" name="" id="" placeholder="¿En donde corriste hoy?">
            <input type="text" name="" id="" placeholder="¿Que mensaje dejarias para tu próximo tú?">
            <button type="submit">Registra mi ruta 🛤️</button>
        </form>
    </div>

    

</body>
</html>