{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'estilo/planes.css' %}">
    <title>Document</title>
</head>
<body>
    <section class="pricing__section">
        <div class="wrapper">
            <div class="title">
                <h2>Plan normal</h2>
                <div class="toggle__section">
                    <span>Anualidad</span>
                    <input type="checkbox" name="" id="check">
                    <label for="check" class="toggle__btn">
                        <span></span>
                    </label>
                    <span>Diario</span>
                </div>
            </div>
            <div class="price__cards">
                <div class="price__card">
                    <div class="price__details">
                        <h3>Gratisss</h3>
                        <p>Este plan es regular</p>
                        <ul>
                            <li>Maximo 2gb</li>
                            <li>No verificacion</li>
                            <li>El acceso que se obtiene</li>
                        </ul>
                    </div>
                    <hr>
                    <div class="price">3.68</div>
                    <span>Por persona</span>
                    <a href="#" class="btn">Ingresar</a>
                </div>
            </div>
            <div class="price__cards">
                <div class="price__card">
                    <div class="price__details">
                        <h3>Gratisss</h3>
                        <p>Este plan es regular</p>
                        <ul>
                            <li>Maximo 2gb</li>
                            <li>No verificacion</li>
                            <li>El acceso que se obtiene</li>
                        </ul>
                    </div>
                    <hr>
                    <div class="price">3.68</div>
                    <span>Por persona</span>
                    <a href="#" class="btn">Ingresar</a>
                </div>
            </div>
            <div class="price__cards">
                <div class="price__card">
                    <div class="price__details">
                        <h3>Gratisss</h3>
                        <p>Este plan es regular</p>
                        <ul>
                            <li>Maximo 2gb</li>
                            <li>No verificacion</li>
                            <li>El acceso que se obtiene</li>
                        </ul>
                    </div>
                    <hr>
                    <div class="price">3.68</div>
                    <span>Por persona</span>
                    <a href="#" class="btn">Ingresar</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>